body {
    margin: auto;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    background-image: url("images/background.png");
    background-size: cover;
    font-family: 'Josefin Sans';
}

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    list-style: none;
    color: white;
}

.main-menu ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 20vw;
  padding-right: 20vw;
  margin: 0;
}

.main-menu li {
  margin: 0;
  list-style-type: none;
}

.main-menu a {
  text-decoration: none;
  color: white; 
  font-size: 1.2em;
  padding: 0.5em 1em;
  transition: color 0.3s ease;
}

.main-menu a:hover {
  color: #aaa; 
}

/* Logo styles */
.logo-container {
  flex: 1;
  text-align: center;
}

.logo-container img {
  width: 10%; 
  height: auto;
  padding: 10px;
}

.about-container {
  margin-left: 25vw;
  margin-right: 25vw;
}

.header {
    background: rgba(176, 133, 210, 0.6); 
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 0px; 
    color: #fff;
    font-size: 19px;
}

#mock-interview {
    display: flex;
    justify-content: space-around; /* Distribute space between sections */
    padding: 20px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.interview-participant {
    /* equal width */
    flex: 1; 
    /* spacing between elements */
    margin: 0 10px; 
}

.white-box {
  background: rgba(255, 255, 255, 0.8); 
  color: #000;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#transcript,
#questions, 
#tone-analysis {
    background: #f5f5f5; 
    border-radius: 10px;
    padding: 20px;
    min-height: 150px; 
    margin: 20px 0px 20px 0px;
}

button {
    background: #3A215F; 
    color: #fff;
    border: none;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease; 
    font-family: 'Josefin Sans';
    font-size: 18px;
}

button:disabled {
    background: #d0d0d0; 
    cursor: default;
}

button:hover:not(:disabled) {
    /* for enabled buttons*/
    background: rgb(173, 142, 235); 
    color: #000;
}

