<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LLM Interviewer</title>
    <link href="{{url_for('static',filename='styles.css')}}" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Welcome to Your Mock Interview</h1>
    <h2>Start practicing now! Record your introduction, and we'll ask questions from there:</h2>
    <button id="start-record-btn">Start Recording</button>
    <button id="stop-record-btn" disabled>Stop Recording</button>
    <p id="transcript"></p>
    <p id="questions"></p>
    <p id="tone-analysis"></p>

    <script src="{{url_for('static',filename='script.js')}}"></script>
</body>
</html>
