<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LLM Interviewer</title>
    <link href="{{url_for('static',filename='styles.css')}}" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
</head>
<body>
    <nav class="main-menu">
        <ul>
            <li><a id="show-about" href="#about">about us</a></li>
            <li class="logo-container">
                <img src="{{url_for('static', filename='images/logo.png')}}" alt="Logo">
            </li>
            <li><a id="show-interview" href="#mock-interview">mock interview</a></li>
        </ul>
    </nav>    

    <section id="about">
        <div class="about-container">
        <h2 class="header">ABOUT US</h2>
        <div class="white-box">
                IQ-Gen welcomes you to the future of interview preparation with our AI platform designed to simulate a real interview experience. Simply record your responses, answer custom interview questions, and receive immediate feedback on the tone of your delivery. Practice as many questions as you wish and conclude your session whenever you're ready. At the end of your practice session, you'll receive a comprehensive analysis of your overall performance, highlighting areas of strength and opportunities for improvement. Start honing your interview skills today to seek the future that you deserve.
                <br><br>
                Press “get started” to start practicing your skills now!
            </div>
            <button id="get-started">get started!</button>
        </div>
    </section>

    <section id="full-interview">
        <span id="loader-wrapper">
            <span class="loader"><span class="loader-inner"></span></span>
        </span>
        <section id="mock-interview">
            <div class="interview-participant">
                <h2 class="header">YOU, THE JOB CANDIDATE</h2>
                <div class="white-box">
                    <p id="usr-msg"></p>
                    <p id="transcript">transcript appears here...</p>
                    <button id="start-record-btn">start recording</button>
                    <button id="stop-record-btn" disabled>stop recording</button>
                </div>
            </div>

            <div class="interview-participant">
                <h2 class="header">YOUR AI INTERVIEWER</h2>
                <div class="white-box">
                    <p id="questions">questions are generating...</p>
                    <p id="tone-analysis">tone analysis will appear here...</p>
                    <button type="button" id="next-question">clear response</button>
                    <button type="button" id="end-interview"><a href="#results-section">end interview</a></button>
                </div>
            </div>
        </section>

        <br><br><br>
        <section id="results-section">
            <h2 class="header">YOUR INTERVIEW RESULTS</h2>
            <div class="white-box">
                <p id="final-tone-analysis">Final tone results will appear here when you end your interview!</p>               
            </div>
        </section>
    </section>

    <script src="{{url_for('static',filename='script.js')}}"></script>
    <script src="path/to/extendable-media-recorder.js"></script>
    <script src="path/to/extendable-media-recorder-wav-encoder.js"></script>
    <script src="path/to/your-main-script.js"></script>
</body>
</html>
